@{
    ViewData["Title"] = "Dishes Page";
}
@model List<Dish>

<div class="text-center">
    <h1 class="display-4">Check out our dishes!</h1>

    <div class="table">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Chef</td>
                    <td>Tastiness</td>
                    <td>Calories</td>
                </tr>
            </thead>
            <tbody>
            
            @foreach (Dish d in Model)
            {
                <tr>
                    <td>@d.Name</td>
                    <td>@d.Creator.FirstName @d.Creator.LastName</td>
                    <td>@d.Tastiness</td>
                    <td>@d.Calories</td>
                </tr>
            }

            </tbody>
        </table>
    </div>
</div>
